.calander {
  width: 85% !important;
  background: rgb(235, 226, 178);
  text-align: center;
  line-height: 12px !important;
}

.react-calendar__tile {
  text-align: center;
  margin-top: 10px !important;
  padding: 18px;
  border-radius: 20px;
  line-height: 30px;
}

abbr {
  font-size: 22px !important;
}
