.h11 {
  text-align: center;
  color: #4181ee;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardd {
  max-width: 300px;
  min-height: 250px;
  background: #ecece0;
  padding: 52px;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgb(119, 111, 111);
  margin: 10px;
  box-shadow: rgb(50 50 93 / 25%) 0px 1px 5px -2px,
    rgb(0 0 0 / 30%) 0px 1px 6px -1px;
  margin-bottom: 30px;
}
.cardd:nth-child(2) {
  background: #eeeee7;
}
.cardd:last-child {
  background: #ebebe5;
}
.cardd-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.cardd-content {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.cardd-btn {
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.cardd-btn:hover {
  color: #676e07;
  background: #fff;
}
.cardd:nth-child(2) .cardd-btn:hover {
  color: #e0dd4b;
  background: #fff;
}
.cardd:last-child .carddd-btn:hover {
  color: #e0dd4b;
  background: #fff;
}





