

:root {
  --app-bg: #e6e4d3;
  --sidebar: rgb(230, 172, 15);
  --sidebar-main-color: rgb(28, 156, 170);
  --table-border: #303f62;
  --table-header: #455782;
  --app-content-main-color: rgba(199, 189, 189, 0.924);
  --sidebar-link: rgb(0, 0, 0);
  --sidebar-active-link: #4c5e7e;
  --sidebar-hover-link: #cbd1dc;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #979da8;
  --filter-reset: #94a2ba;
  --filter-shadow: rgba(141, 147, 159, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #8e8a9f;
  --sidebar-link: #cbcad0;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #aba9b4;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} */

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .app-container {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 2000px;
  margin: 0 auto;
} */

.sidebar {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 0;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.sidebar-list {
  list-style-type: none;
  padding: 0;
}
.sidebar-list-item {
  position: relative;
  margin-bottom: 4px;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
.sidebar-list-item svg {
  margin-right: 8px;
}
.sidebar-list-item:hover {
  background-color: var(--sidebar-hover-link);
}
.sidebar-list-item.active {
  background-color: var(--sidebar-active-link);
}
.sidebar-list-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--action-color);
  height: 100%;
  width: 4px;
}
/* @media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
} */


